OCI_REGION=UK-LONDON-1
OCI_USER_ID=ocid1.user.oc1..aaaaaaaasog4z4asz3ggxyl56h4yvueb7fncf3za5nckzsk3il52junjeztq
OCI_TENANCY_ID=ocid1.tenancy.oc1..aaaaaaaakbry4puxjq6a4d4iqgm3tsfev73l5i55qq4cmlrhbi4mcl63twpq
OCI_KEY_FINGERPRINT=0a:1e:73:55:c5:19:d3:0e:82:2a:0f:56:5d:d6:5e:e0

# absolute path (including directories) or direct public accessible URL
OCI_PRIVATE_KEY_FILENAME=/Users/Mr.Yupiii/Documents/OCI API Private Key/admin@tagastute.com-2026-10-06T08_02_26.284Z.pem
OCI_SUBNET_ID=ocid1.subnet.oc1.uk-london-1.aaaaaaaajkkr66wvvasvkg4f7scajlx23qaxxvunainom7q4gaw5gb7g4miq
OCI_IMAGE_ID=ocid1.image.oc1.uk-london-1.aaaaaaaa4kn2keobdjhzunnoadcr5ncgmi7sikb3pqe5o35626aiejso4edq

# Always free ARM: 1,2,3,4. Always free AMD x64: 1
OCI_OCPUS=2

# Always free ARM: 6,12,18,24. NB! Oracle Linux Cloud Developer Image requires minimum 8. Always free AMD x64: 1
OCI_MEMORY_IN_GBS=12

# Or "VM.Standard.E2.1.Micro" for Always free AMD x64
OCI_SHAPE=VM.Standard.A1.Flex
OCI_MAX_INSTANCES=1

# Your public key ~/.ssh/id_rsa.pub contents
# NB! No new lines / line endings allowed! Put inside double quotes
OCI_SSH_PUBLIC_KEY=ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCF67RcOszaEnMd6YufC67APcGFENkd6PRbZ9FC2dOG9+ew8da9byXLA6keRMc8zeHNHaQdi8/g1zHeRPrWDpl6NN/z4zswZ1xTBqVpfShdXskP47g16s3L+6ZB8YFZto7/pqUAU9QL/XyQa4QILXO5YiHvXBKTqdGb7Fp/t2V72TV976cePNw2AJpiCbTmm96g4e3OosNr7+PnkofQPz0LjymmZMu9Tm/P/7Rpeob/r1bJqrqrlGFTwlrEm8Ve4IBOL1m9QQjJrC23Nj05tADbmOLEaFFQYgg3AqL8Wohaduec643B9mo8cpCiS4deFTImpfdm3lmhAfXkmcfQSw+r ssh-key-2026-07-24

# Is now optional for ARM since Always Free ARMs can be created in any AD.
# ListAvailabilityDomains API call will be used for retrieval https://docs.oracle.com/en-us/iaas/api/#/en/identity/20160918/AvailabilityDomain/ListAvailabilityDomains
#
# NB! Always free AMD x64 instances should be created only in "main" (Always Free Eligible) AD,
# you must set it manually in this case!
#
# If you wanna specify more than one, set as a PHP array in OciConfig constructor (inside index.php file)
OCI_AVAILABILITY_DOMAIN=kOsX:UK-LONDON-1-AD-1,kOsX:UK-LONDON-1-AD-3

CACHE_AVAILABILITY_DOMAINS=1

# Optional. If not set, default value depends on OCI_IMAGE_ID will be used.
# Minimum is 47 for AMD x64 or 50 for ARM, maximum is 200 for Always Free accounts
OCI_BOOT_VOLUME_SIZE_IN_GBS=100

# Optional. If set, will be used instead OCI_IMAGE_ID. Cannot be used together with OCI_BOOT_VOLUME_SIZE_IN_GBS.
# Open https://cloud.oracle.com/block-storage/boot-volumes, click non-used and copy it's OCID
# NB! You must specify OCI_AVAILABILITY_DOMAIN also as they should be located in the same one
OCI_BOOT_VOLUME_ID=

TOO_MANY_REQUESTS_TIME_WAIT=600
